.banner {
  background: url("https://lh3.googleusercontent.com/proxy/yCAIocHK6AdT4VQ8lvouohJzEysBy6WH8gl4u-iTKmaoBMq_cNrb2Ix1s-ls6qCBCkkY6mKbDMwiEikmTUgOeG2qsS1M7qz-dhAT84vK5gTobuoFvHEAQRI0Yd_TU6v-qmxq9-MzvVPox4YfjZ7A5-01tSopMeU0P9s")
    center center;
  height: 50vh;
  position: relative;
}
